.header{
    background: url('../../assets/FamilyImage.jpg') no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    float: left;
    top:0;
    left: 0;
    right:0;
    bottom: 0;
    padding: none;
    position: fixed;
    object-fit: cover;
    z-index: -1;
}

.header-content{
    display: flex;
    justify-content: flex-start; /* Aligner le contenu à gauche */
    align-items: center; /* Centrer verticalement */
    height: 100vh; /* Occuper toute la hauteur de l'écran */
    padding-left: 50px; /* Ajouter un espace à gauche */
    color: white;
}

.header .text {
    align-items: left;
}